---
---

@import "{{ site.theme }}";

h1 {
  font-weight: bold;
  color: rgb(0, 107, 61);
  font-size: 28px;
}

h2 {
  font-weight: bold;
  color: rgb(0, 107, 61);
  font-size: 24px;
}

h3{
    color: rgb(0, 107, 61);
    padding: 1px;
    margin: 0px;
}

 a {
color: rgb(0, 107, 61);
} 
