---
---

@import "{{ site.theme }}";

h1 {
  font-weight: bold;
  color: rgb(0, 107, 61);
  font-size: 20px;
}

h2 {
  font-weight: bold;
  color: rgb(0, 107, 61);
  font-size: 24px;
}

h3{
    color: rgb(0, 107, 61);
}

h4{
    color: rgb(0, 107, 61);
    bottom-margin: 4px;
}

h4 span {
 font-size: 11px;
 color:#727272;
}

h5 {
 bottom-margin: 2px; 
}

a {
  color: rgb(0, 107, 61);
}
a:link {
    color: rgb(0, 107, 61);
    text-decoration: underline;
}
